<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/head") %>
  </head>
  <body>
    <header><%- include ("partials/nav") %></header>
    <main>
      <div><%- include ("partials/nav2") %></div>
      <div class="details">
        <% attractionDetails.forEach(attraction =>{ %>
        <h2>景點名稱：<%= attraction.name %></h2>
        <h4 style="width: 1000px">景點介紹：<%- attraction.introduction %></h4>
        <h4>景點區域：<%= attraction.zipcode %> <%= attraction.distric %></h4>
        <h4>景點地址：<%= attraction.address %></h4>
        <h4>景點電話：<%= attraction.tel %></h4>
        <% attraction.images.forEach(image=>{ %>
        <img
          src="<%= image %>"
          style="margin: 5px 0px; width: 250px; height: 200px"
        />
        <%})%> <%})%>
      </div>
    </main>
  </body>
</html>
